<div class="container">
  <div class="form-group">
   <h4>Cat_Id:</h4> <input class="form-control" type="number" [(ngModel)]="cat_id1">
  </div>
  
  <div class="form-group">
      <h4>Cat_Name:</h4> <input class="form-control" type="text" [(ngModel)]="cat_name1">
  </div>
  
  <div class="form-group">
      <h4>Is_Active:</h4> <input class="form-control" type="text" [(ngModel)]="is_active1">
  </div>
  
  <div class="form-group">
    <button (click)="onsave()" style="width: 45%;height: 50px;margin-left: 20px;border-radius: 2px;background-color: cornflowerblue;font-size: 20px;">Save</button>
  </div>