<div class="container">
  <h4>Id : </h4>
  <div class="form-group">
    <input class="form-control" type="number" [(ngModel)]="id">
  </div>
  <h4>Name : </h4>
  <div class="form-group">
    <input class="form-control" type="text" [(ngModel)]="name">
  </div>
  <h4>Percentages : </h4>
  <div class="form-group">
    <input class="form-control" type="number" [(ngModel)]="per">
  </div>
  <h4>Result : </h4>
  <div class="form-group">
    <input disabled class="form-control" type="text" [(ngModel)]="res">
  </div>
  <br>
  <br>
  <button (click)="onsave()" style="width: 20%;height: 50px;margin-left: 20px;border-radius: 2px;background-color: cornflowerblue;font-size: 20px;">Save</button>
